<div class="navigation">
    <div class="profile">
        <img class="profile__image"
            src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80"
            />
        <span class="profile__name">
            Wahyu Setiawan
        </span>
        <span class="profile__skill">
            Programmer Android
        </span>

        <div class="profile__social_media">
            <img class="icon"
                onclick="document.location.href=
                'https://github.com/wahyusetiawan'"
                src="{{ site.url }}/assets/img/icon_github.png" />

            <img class="icon"
                onclick="document.location.href=
                'https://www.linkedin.com/in/wahyu-setiawan-91289b85/'"
                src="{{ site.url }}/assets/img/icon_linkedin.png" />

            <img class="icon"
                onclick="document.location.href=
                'https://www.facebook.com/wahyusetiawancahsolo'"
                src="{{ site.url }}/assets/img/icon_facebook.png" />

            <img class="icon" onclick="document.location.href=
                'https://www.instagram.com/wawan_wahyusetiawan/'"
                src="{{ site.url }}/assets/img/icon_instagram.png" />


            <img class="icon"
                onclick="document.location.href=
                'https://www.twitter.com/wahyucc'"
                src="{{ site.url }}/assets/img/icon_twitter.png"
                />

        </div>
    </div>

    <ul class="menu">
        <li>
            <a href="{{site.url}}">Home</a>
        </li>
        <li>
            <a href="{{site.url}}/page/service">Service</a>
        </li>
        <li>
            <a href="{{site.url}}/page/experience">Experience</a>
        </li>
        <li>
            <a href="{{site.url}}/page/works">Works</a>
        </li>
        <li>
            <a href="{{site.url}}/page/blog">Blog</a>
        </li>
        <li>
            <a href="{{site.url}}/page/about">About</a>
        </li>
    </ul>
</div>