<div class="navigation">
    <div class="profile">
        <img class="profile__image"
            src="{{ site.url }}/assets/jpg/profile.jpg"
            />
        <span class="profile__name">
            Wahyu Setiawan
        </span>
        <span class="profile__skill">
            Programmer Android
        </span>

        <div class="profile__social_media">
            <img class="icon"
                onclick="document.location.href=
                'https://github.com/wahyusetiawan'"
                src="{{ site.url }}/assets/img/icon_github.png" />

            <img class="icon"
                onclick="document.location.href=
                'https://www.linkedin.com/in/wahyu-setiawan-91289b85/'"
                src="{{ site.url }}/assets/img/icon_linkedin.png" />

            <img class="icon"
                onclick="document.location.href=
                'https://www.facebook.com/wahyusetiawancahsolo'"
                src="{{ site.url }}/assets/img/icon_facebook.png" />

            <img class="icon" onclick="document.location.href=
                'https://www.instagram.com/wawan_wahyusetiawan/'"
                src="{{ site.url }}/assets/img/icon_instagram.png" />


            <img class="icon"
                onclick="document.location.href=
                'https://www.twitter.com/wahyucc'"
                src="{{ site.url }}/assets/img/icon_twitter.png"
                />

        </div>
    </div>

    <ul class="menu">
        <li>
            <a href="{{site.url}}"
                {% if page.url =="/" %} class="active" {% endif %}>Home</a>
        </li>
        <li>
            <a href="{{site.url}}/page/works"
                {% if page.url =="/page/works.html" %} class="active" {% endif
                %}>Riwayat Pekerjaan</a>
        </li>
        <li>
            <a href="{{site.url}}/page/blog"
                {% if page.url =="/page/blog.html" %} class="active" {% endif
                %}>Blog</a>
        </li>
        <li>
            <a href="{{site.url}}/page/datadiri"
                {% if page.url =="/page/datadiri.html" %} class="active" {%
                endif %}>Data Diri</a>
        </li>
    </ul>
</div>