@import "variable";

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #424242;
}

.navigation {
    flex: 1;
    max-width: 350px;
}

.container {
    flex: 3;
    background-color: #757575;
}